## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg
doc
.yardoc

## PROJECT::SPECIFIC
constellation-*.gem
.idea
.document

## metric_fu
scratch_directory
tmp

# ignore 1.9.x gems since we aren't using RVM
vendor/bundle/ruby/1.9.1
vendor/bundle/ruby/1.9.2
